<div class="items">
  <% @promos.each do |promo| %>
      <div class="item-container">
        <div class="item">
          <header class="featured"><%= promo.code %></header>
          <hr />
          <div class="view-wrapper">
            <div class="centered">
              <%= if promo.item==nil then "Cart Promo" else "Item: #{promo.item.name} (#{promo.item.id})" end %><br/>
              Discount: <span style="font-size: 150%; color: #ff0000"><%= "#{promo.discount*100}%" %></span><br/>
              <%= if !promo.expiration.nil? then "Expires on #{promo.expiration}" else "Never expires" end %>
              <hr/>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

