<footer class="round">
  <div id="footer-left" class="left">
    <h1>Company</h1>
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
    </ul>
    </p>
  </div>
  <div id="footer-right" class="right">
    <h1>FAQ</h1>
    <ul>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div id="footer-middle" class="centered">
    <h1>Information</h1>
    <ul>
      <li>Products</li>
      <li>Features</li>
    </ul>
  </div>
  <div style="clear: both"></div>
</footer>