<header>
  <div id="search">
    <% #Search Container which holds search bar and advanced search %>
    <div class="search-container">
        <form action="" method="post">
          <input type="text" class="field" value="Keywords" title="Keywords" />
          <input type="submit" value="" class="submit-button" />
        </form>
      <a class="advanced-search" title="Advanced Search" href="#">Advanced Search</a>
      <div style="clear:both"></div>
    </div>
  </div>
  <div style="clear:both"></div>

  <% #Site Logo %>
  <h1 id="logo"><a title="Home" href="#">ShopOO</a></h1>

  <% #Account options such as My Account, Shopping Cart, and Checkout%>
  <div id="account-options">
    <ul>
      <li>0 items</li>
      <% if signed_in? %>
      <li><a class="account round" title="My Account" href="#"><span></span>My Account</a></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path, :class => "account round" %></li>
      <% end %>
      <li><%= link_to "Log out", signout_path, :method => :delete, :class => "account round" %></li>
      <li><a class="cart round" title="shopping cart" href="#"><span></span>shopping cart </a></li>
      <li><a class="checkout round" title="checkout" href="#">checkout<span></span></a></li>
    </ul>
  </div>
  <div style="clear:both"></div>
</header>