<div id="navigation-bar" class="round">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Playstation 3</a></li>
    <li><a href="#">Xbox 360</a></li>
    <li><a href="#">PC</a></li>
    <li><a href="#">Wii U</a></li>
    <li><a href="#">3DS</a></li>
    <li><a href="#">PS Vita</a></li>
  </ul>
  <div style="clear:both"></div>
</div>