<div id="navigation-bar" class="round">
  <ul>
    <li><a title="Home" href="/browse">Home</a></li>
    <li><a title="Games" href="#">Games</a></li>
    <li><a title="Movies and TV" href="#">Movies and TV</a></li>
    <li><a title="Desktop PC" href="#">Desktop PC</a></li>
    <li><a title="Laptops" href="#">Laptops</a></li>
    <li><a title="Blah" href="#">Blah</a></li>
    <li><a title="Blah" href="#">Blah Again</a></li>
  </ul>
  <div style="clear:both"></div>
</div>